@font-face {
  font-family: "7segment";
  src: url(./Font/7segment.woff);
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "7segment";
}
body,
html {
  margin: 0;
  padding: 0;
}

.calculator-container {
  padding: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 20px; */
  border: 1px solid black;
}

.display {
  align-self: flex-end;
  /* font-family: "7segment"; */
  font-size: 40px;
  font-weight: 300;
}
.display-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  border: 1px solid black;
}
.button-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* gap: 5px; */
}
.row {
  display: flex;
}

.button {
  width: 70px;
  height: 40px;
  /* border: 1px solid black; */
}
button[key="0"] {
  flex-grow: 1;
}
