@font-face {
  font-family: "7segment";
  src: url(./Font/7segment.woff);
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "7segment";
  /* background-color: #050308; */
  background-color: #626262;
}
body,
html {
  margin: 0;
  padding: 0;
}

.calculator-container {
  padding: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c1b1f;
  border-radius: 10px;
}
.calculation {
  font-size: 20px;
  padding: 2%;
  color: inherit;
}
.display {
  align-self: flex-end;
  font-size: 40px;
  font-weight: 300;
  padding: 2%;
}
.display-container {
  display: flex;
  justify-content: space-between;
  background-color: #33313d;
  border-radius: 7px;
  margin: 10px;
  color: #e5e1e6;
  flex-grow: 1;
}
.button-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.row {
  display: flex;
}

.button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: none;
  margin: 3px;
  padding: 0;
  border-radius: 100px;
  appearance: none;
  color: #e4dff9;
}
.operator-button,
button[key="+/-"] {
  background-color: #474459;
}
button[key="="] {
  flex-grow: 1;
  background-color: #454077;
}

button[key="AC"] {
  background-color: #613b4e;
  color: #ffd8e8;
}
.num-button {
  background-color: #24232a;
}
