* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body,
html {
  margin: 0;
  padding: 0;
}
p {
  margin: 0%;
  font-size: 15px;
}
.calculator-container {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  border: 1px solid black;
}
.display {
  align-self: flex-end;
}
.display-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: 1px solid black;
}
.button-container {
  display: flex;
  flex-direction: column;
}

.button {
  width: 80px;
  height: 30px;
}
